[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
innodb_ft_min_token_size=2
ft_min_word_len=2
slow_query_log=1
slow_query_log_file=/var/log/mysql/mysql-slow.log
long_query_time=0.1

[client]
default-character-set=utf8mb4
